<h4>Pending Deals</h4>

<% @pending.each do |deal| %>

<ul class='indiv_deal_box'>
  <li class="indiv_deal_details"> <%= link_to "#{deal.long_description}", '#' %></li>
  <% if deal.payer.name != 'Gui' %>
    <li class='indiv_deal_pay'><button class="pay_button" data-id=<%= deal.id %>>Pay</button></li>
  <% end %>
</ul>

<% end %>
