
header {
  margin-top: 0px;
  margin-bottom: 10px;
  text-align: center;
  h2 {
    margin-bottom: 10px;
    display: inline-block;
  }
  #recaps {
    margin-bottom: 15px;
    display: inline-block;
    div {
      display: inline-block;
      border: 1px solid red;
    }
  }
}

#quick_adds {
  * {
    display: inline-block;
  }
  #new_deal {
    #deal_amount {
      width: 80px;
    }
  }
  #new_friend {
    position: relative;
    left: 316px;
  }
}

#view_zone {
  border: 1px solid black;
  a {
    text-decoration: none;
    border: 1px solid;
    color: rgb(26, 18, 148);
    padding: 4px 10px;
    border-radius: 20px;
  }
  // height: 400px;
  #quick_menu {
    text-align: center;
    li {
      display: inline;
      padding: 0 10px;
    }
  }
  .sub_zone {
    a {
      font-size: 15px;
    }
    button {
      border-radius: 20px;
      font-size: 14px;
      font-style: italic;
      padding: 2px 7px;
      background-color: rgba(34, 108, 224, 0.67);
      border: 1px outset buttonface;
    }
    #pending_deals {
    }
    #history {
      a {
        color: darkgrey;
      }
    }
    .indiv_deal_box {
      padding-left: 20px;
      li {
        display: inline;
      }
    .indiv_deal_details {
        padding-right: 5px;
        span {
          font-size: 10px;
        }
      }
    }    
  } // end of sub zone

} // end of view zone

#view_zone #history a {
  color: rgba(26, 18, 148, 0.6);
}

.hidden {
  display: none;
}
