
header {
  margin-top: 0px;
  margin-bottom: 10px;
  text-align: center;
  width: 700px;
  margin: 0 auto;
  // h2 {
  //   margin-bottom: 10px;
  //   display: inline-block;
  // }
  #recaps {
    margin-bottom: 15px;
    display: inline-block;
    div {
      display: inline-block;
      border: 2px solid;
      padding: 0 10px;
      border-radius: 20px;
      color: rgba(26, 18, 148, 0.7);
      width: 100px;  
      margin: 10px 0;
    }
  }
}

#quick_adds {
  margin-left: 7px;
  margin-bottom: 10px;
  * {
    display: inline-block;
  }
  form {
    color: rgb(99, 98, 116);
    button, select {
      font-size: 15px;
      border-radius: 10px;
    }
    label {
      font-size: 14px;
      font-style: italic;
    }
    input {
      line-height: normal;
      font-size: 14px;
      border-radius: 10px;
      padding: 2px 8px 2px 6px;
    }
    input[type="submit"], .delete_button{
      font-style: italic;
      background-color: rgba(34, 108, 224, 0.4);
      border: 1px outset buttonface;
    }
  }
  #new_deal {
    #deal_amount {
      width: 38px;
    }
  }
  #new_friend {
    position: relative;
    left: 308px;
  }
}

#view_zone {
  .active_menu {
    background-color: rgba(26, 18, 148, 0.7);
    color: white;
  }
  .column {
    display: inline-block;
    width: 49%;
    border: 1px dotted blue;
    vertical-align: top;
  }
  #left_column {
    margin-left: 7px;
  }
  border: 1px solid black;
  a {
    text-decoration: none;
    border: 1px solid;
    color: rgba(26, 18, 148, 0.7);
    padding: 4px 10px;
    border-radius: 20px;
  }
  #quick_menu {
    margin-bottom: 20px;
    text-align: center;
    li {
      display: inline;
      padding: 0 2px;
    }
  }
  .sub_zone {
    h4 {
      text-align: center;
      margin-top: 0px;
      line-height: 23px;
      padding: 2px 0;
      font-weight: 500;
      font-family: sans-serif;
    }
    a {
      font-size: 15px;
    }
    .pay_button {
      border-radius: 20px;
      font-size: 14px;
      font-style: italic;
      padding: 2px 9px 2px 7px;
      background-color: rgba(34, 108, 224, 0.67);
      border: 1px outset buttonface;
    }
    #pending_deals {
    }
    #history {
      a {
        color: darkgrey;
      }
    }
    .indiv_deal_box {
      padding-left: 20px;
      li {
        display: inline;
      }
    .indiv_deal_details {
        padding-right: 5px;
        span {
          font-size: 10px;
        }
      }
    }    
  } // end of sub zone

  #edit_zone {
    text-align: center;
    .warning_in_edit {
      text-decoration: italic;
      font-style: sans-serif;
      color: darkgrey;
      text-align: center;
    }
    form {
      color: rgb(99, 98, 116);
      text-align: center;
      margin-bottom: 15px;  
      // .delete_button {
      //   border-radius: 20px;
      //   font-size: 14px;
      //   font-style: italic;
      //   padding: 2px 9px 2px 7px;
      //   background-color: rgba(34, 108, 224, 0.67);
      //   border: 1px outset buttonface;
      // }    
      button, select {
        font-size: 15px;
        border-radius: 10px;
      }
      label {
        font-size: 14px;
        font-style: italic;
      }
      input {
        line-height: normal;
        font-size: 14px;
        border-radius: 10px;
        padding: 4px 8px 4px 6px;
      }
      input[type="submit"] {
        font-style: italic;
        background-color: rgba(34, 108, 224, 0.4);
        border: 1px outset buttonface;
      }
    }
  }
} // end of view zone

#view_zone #history a {
  color: rgba(26, 18, 148, 0.6);
}

.hidden {
  display: none;
}
